body {
       background-color: lightblue;
       background-image: url("Woodman.jpg");
}
img {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
h1 {
  color: Black;
}
<h2>Popular</h2>
 <ul>
</ul>
</body>
</html>
