body {
       background-image:url("Woodman.jpg");
       background-size: cover;
       background-repeat: no-repeat;
       color:white;
}
img {
    opacity: 0.5;
}
h1 {
  color: white;
}
#content{
  padding: 20px;
  background-color: black;
  opacity:0.73;
}
#content ul li {
  color:white;
}
